In [1]:
import pandas as pd

In [2]:
!pwd

/workspaces/DataEng_Zoomcamp/2_docker_sql

In [3]:
!wget https://s3.amazonas.com/nyc-tlc/misc/taxi+_zone_lookup.csv #deprecated

--2024-01-16 22:51:30--  https://s3.amazonas.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonas.com (s3.amazonas.com)... 69.64.53.94
Connecting to s3.amazonas.com (s3.amazonas.com)|69.64.53.94|:443... ^C

In [4]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2024-01-16 22:53:54--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.238.212, 18.239.238.119, 18.239.238.133, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.238.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-16 22:53:54 (141 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265